{{- $defaultOG := "images/full/iotone_logo_v1d.png" | absURL -}}
{{- $ogImage := $defaultOG -}}
{{- with .Params.og_image -}}{{ $ogImage = . | absURL }}{{- end -}}
{{- $logo := "images/full/iotone_logo_v1d.png" | absURL -}}
{{- $desc := "" -}}
{{- with .Description -}}{{ $desc = . }}
{{- else -}}
  {{- with .Params.summary -}}{{ $desc = . }}
  {{- else -}}{{ $desc = .Summary | plainify | truncate 200 }}
  {{- end -}}
{{- end -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": {{ .Title | jsonify | safeJS }},
  "description": {{ $desc | jsonify | safeJS }},
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
  "dateModified": "{{ (.Lastmod | default .Date).Format "2006-01-02T15:04:05Z07:00" }}",
  "author": {
    "@type": "Organization",
    "name": "{{ .Site.Params.author | default "IoTone, Inc." }}",
    "url": "{{ .Site.BaseURL }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ .Site.Params.author | default "IoTone, Inc." }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ $logo }}"
    }
  },
  "image": "{{ $ogImage }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  }{{ with .Params.tags }},
  "keywords": {{ . | jsonify | safeJS }}{{ end }}
}
</script>
